* {
    box-sizing: border-box;
}

:root {
    --primary-color: #000958;
    --desc-color: #656689;
    --btn-color: #FF5B2E;
    --bg-color: #fefaf5;
    --second-bg-color: #FFFAF5;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    background-color: var(--second-bg-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Sora', sans-serif;
}

input, textarea, select, button {
    font-size: inherit;
    font-family: inherit;
}

/* =============================== Common =============================== */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 56px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border: 1px solid rgb(0, 9, 88, 0.7);
    border-radius: 99px;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--btn-color);
    background-color: transparent;
}

.btn:hover {
    cursor: pointer;
}

.btn--primary {
    color: #fff;
    background-color: var(--btn-color);
    border-color: var(--btn-color);
}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: #FFF;
}


/* =============================== Header =============================== */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__item {
    padding: 8px 18px;
}

.navbar__link {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    color: #5E6085;
    transition: .3s;
}

.navbar__link:hover,
.navbar__link--active {
    color: var(--primary-color);
    text-shadow: 1px 0 0 currentColor;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__link {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px 18px;
    color: #5E6085;
    transition: .3s;
}

.header-action__link:hover {
    text-shadow: 1px 0 0 var(--primary-color);   
}

.header-action__btn {
    --height: 50px;

    min-width: 118px;
    font-size: 1.4rem;
    font-weight: 600;
    border-color: var(--primary-color);
    border-radius: 25px;
    padding: 0 30px;
    white-space: nowrap;
    color: var(--primary-color);
    transition: .3s;
}

.header-action__btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: var(--primary-color);
}

/* =============================== Hero =============================== */
.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero__media {
    position: relative;
    display: flex;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    border: 3px solid #fff;
    border-radius: 16px;
    background-color: #FE997B;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    top: 16px;
    right: -43px;
}

.hero__img-wrap-small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    margin: 0 0 -58px -24px;
    border: 2px solid #f7dddf;
    background-color: #FAA7AD;
}

.hero__list {
    position: absolute;
    bottom: 0;
    left: 129px;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    padding: 18px 14px;
    background-color: #fff;
    box-shadow: -17px 14px 68px -4px #CFAE8440;
}

.hero-list-item {
    display: flex;
}

.hero-list-item__infor {
    margin-left: 10px;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    background-color: #FEC23F;
}

.hero-list-item:nth-of-type(2) .hero-list-item__thumb {
    background-color: #C6E2FA;
}

.hero-list-item__title {
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    color: #181E52;
}

.hero-list-item__skeleton {
    width: 118px;
    height: 4px;
    margin-top: 6px;
    border-radius: 10px;
    background-color: var(--primary-color);
    opacity: 0.08;
}

.hero-list-item__skeleton:nth-of-type(2) {
    width: 39px; 
}

.hero-list-item__separate {
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    border-radius: 99px;
    background-color: #F2F2F2;
}

.hero__heading {
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
    color: var(--primary-color);
}

.hero__desc {
    max-width: 391px;
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 24px;
    line-height: 1.88;
    color: var(--desc-color);
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__header-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 189px;
    height: 60px;
    border: 1px solid #FD5056;
    box-shadow: 0px 13px 26px -8px #FF5B2E6B;
    background-color: var(--btn-color);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    transition: .3s;
}

.hero__header-btn:hover {
    opacity: 0.8;
}

.hero__cta-link {
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 24px;
    line-height: 1;
    text-decoration: underline;
    color: var(--primary-color);
    transition: .3s;
}

.hero__cta-link:hover {
    cursor: pointer;
    scale: 90%;
}




