* {
    box-sizing: border-box;
}

:root {
    --primary-color: #000958;
    --desc-color: #656689;
    --btn-color: #ff5b2e;
    --bg-color: #fffaf5;
    --second-bg-color: #fff6ed;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

/* =============================== Common =============================== */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 56px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border: 1px solid var(--btn-color);
    border-radius: 99px;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--btn-color);
    background-color: transparent;
}

.btn:hover {
    cursor: pointer;
}

.btn--primary {
    color: #fff !important;
    background-color: var(--btn-color) !important;
    border-color: var(--btn-color) !important;
}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 4px 3px 10px -1px #bf290066;
}

.section-heading {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
    color: var(--primary-color);
}

.section-desc {
    margin-top: 24px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
    color: var(--desc-color);
}

/* =============================== Header =============================== */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__item {
    padding: 8px 18px;
}

.navbar__link {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    color: #5e6085;
    transition: 0.3s;
}

.navbar__link:hover,
.navbar__link--active {
    color: var(--primary-color);
    text-shadow: 1px 0 0 currentColor;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__link {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px 18px;
    color: #5e6085;
    transition: 0.3s;
}

.header-action__link:hover {
    text-shadow: 1px 0 0 var(--primary-color);
}

.header-action__btn {
    --height: 50px;

    min-width: 118px;
    font-size: 1.4rem;
    font-weight: 600;
    border-color: var(--primary-color);
    border-radius: 25px;
    padding: 0 30px;
    white-space: nowrap;
    color: var(--primary-color);
    transition: 0.3s;
}

.header-action__btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: var(--primary-color);
}

/* =============================== Hero =============================== */
.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero__media {
    position: relative;
    display: flex;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    border: 3px solid #fff;
    border-radius: 16px;
    background-color: #fe997b;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    top: 16px;
    right: -43px;
}

.hero__img-wrap-small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    margin: 0 0 -58px -24px;
    border: 2px solid #f7dddf;
    background-color: #faa7ad;
}

.hero__list {
    position: absolute;
    bottom: 0;
    left: 129px;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    padding: 18px 14px;
    background-color: #fff;
    box-shadow: -17px 14px 68px -4px #cfae8440;
}

.hero-list-item {
    display: flex;
}

.hero-list-item__infor {
    margin-left: 10px;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    background-color: #fec23f;
}

.hero-list-item:nth-of-type(2) .hero-list-item__thumb {
    background-color: #c6e2fa;
}

.hero-list-item__title {
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    color: #181e52;
}

.hero-list-item__skeleton {
    width: 118px;
    height: 4px;
    margin-top: 6px;
    border-radius: 10px;
    background-color: var(--primary-color);
    opacity: 0.08;
}

.hero-list-item__skeleton:nth-of-type(2) {
    width: 39px;
}

.hero-list-item__separate {
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    border-radius: 99px;
    background-color: #f2f2f2;
}

.hero__heading {
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
    color: var(--primary-color);
}

.hero__desc {
    max-width: 391px;
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 24px;
    line-height: 1.88;
    color: var(--desc-color);
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__header-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 189px;
    height: 60px;
    border: 1px solid #fd5056;
    box-shadow: 0px 13px 26px -8px #ff5b2e6b;
    background-color: var(--btn-color);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    transition: 0.3s;
}

.hero__header-btn:hover {
    opacity: 0.8;
}

.hero__cta-link {
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 24px;
    line-height: 1;
    text-decoration: underline;
    color: var(--primary-color);
    transition: 0.3s;
}

.hero__cta-link:hover {
    cursor: pointer;
    scale: 90%;
}

/* =============================== About =============================== */
/* About content #1 */
.about {
    margin-top: 100px;
    padding: 38px 0;
}

.about__inner {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    row-gap: 146px;
}

.about__media {
    position: relative;
}

.about__label {
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    color: #5e6085;
}

.about__heading {
    width: 446px;
    margin-top: 15px;
}

.about__desc {
    width: 431px;
}

.about__checklist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 36px;
    margin-top: 54px;
}

.about__check-item {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    color: #48496a;
}

.about__check-item::before,
.about__check-item::after {
    content: "";
    display: inline-block;
}

.about__check-item::before {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: #ff5d31;
    box-shadow: 0px 4px 15px -3px #ff5d31b0;
}

.about__check-item::after {
    content: url(../icons/check.svg);
    position: absolute;
    top: 2px;
    left: 5px;
}

/* About Media #2 */
.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    width: 136px;
    border-radius: 10px;
    padding: 30px 26px;
    text-align: center;
    background-color: #5bd6e2;
    box-shadow: -15px 26px 48px 0px #55f0ff2b;
}

.about__card-title {
    font-family: Sora, sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
}

.about__card-desc {
    margin-top: 14px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.43;
    color: #c6f4f9;
}

.about__card-decor {
    position: absolute;
    top: -38px;
    right: -33px;
}

.about__img-wrap {
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about__img-wrap::after {
    position: absolute;
    inset: auto 0 0 0;
    z-index: -1;
    content: "";
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px 0px #ff9b791f;
}

.about__img {
    display: block;
    width: 450px;
    margin: 0 auto;
    object-fit: cover;
}

.about__media-decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}

/* About Media #3 */
.about__img-wrap-bottom {
    width: 458px;
    margin-left: 0;
    z-index: -1;
    border: 2px solid #ffffff;
    border-radius: 18px;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%),
        linear-gradient(0deg, #ffffff, #ffffff);
    box-shadow: 0px 17px 77px -8px #bea58b2b;
}

.about__img-wrap-bottom::after {
    content: none;
}

.about__img-bottom {
    width: 100%;
}

.about__decor-img {
    position: absolute;
}

.about__decor-img:first-child {
    bottom: -54px;
    right: -42px;
}

.about__decor-img:nth-child(2) {
    top: 12px;
    right: 63px;
}

.about__decor-img:nth-child(3) {
    top: -16px;
    right: 13px;
}

.about__decor-img:nth-child(4) {
    top: 33px;
    right: -21px;
}

.about__decor-img:nth-child(5) {
    bottom: 206px;
    right: -33px;
}

.about__decor-img:nth-child(6) {
    bottom: 150px;
    right: 19px;
}

/* About Content #4 */
.about__heading-bottom {
    width: 543px;
    margin-top: 52px;
}

.about__desc-bottom {
    margin-bottom: 52px;
}

.tab__list {
    position: relative;
    display: inline-flex;
    align-items: center;
    column-gap: 56px;
}

.tab__list::after,
.tab__item--active::after,
.tab__content-more::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    border-radius: 1px;
    background-color: var(--btn-color);
    opacity: 0.07;
}

.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding-bottom: 10px;
    cursor: pointer;
}

.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: block;
}

.tab__item--active::after {
    width: 95px;
    opacity: 1;
}

.tab__icon {
    width: 20px;
}

.tab__title {
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    color: #48496a;
}

.tab__content-desc {
    padding-top: 36px;
    padding-bottom: 32px;
    width: 391px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
    color: var(--desc-color);
}

.tab__content-more {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    color: #ff5d31;
    transition: 0.3s;
}

.tab__content-more:hover {
    text-shadow: 1px 0 0 currentColor;
}

.tab__content-more::after {
    width: 86px;
    height: 1.5px;
    opacity: 1;
}

/* =============================== Service =============================== */
.service {
    margin-top: 147px;
    padding: 68px 0 100px;
    background-color: var(--second-bg-color);
}

.service__top {
    text-align: center;
}

.service__desc,
.staff__desc {
    margin-bottom: 15px;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    color: #5e6085;
}

.service__body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 71px;
    margin-top: 71px;
}

.service-item {
    width: 294px;
    border: 2px solid #ffbc7a42;
    border-radius: 10px;
    padding: 30px;
    background: linear-gradient(0deg, #ffffff, #ffffff);
    transition: ease 0.3s;
}

.service-item:hover {
    cursor: pointer;
    box-shadow: 0px 36px 100px 0px #6f786f33;
}

.service-item + .service-item {
    margin-top: 24px;
}

.service-item__heading {
    position: relative;
    padding-left: 12px;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    color: var(--primary-color);
}

.service-item__heading::before {
    position: absolute;
    inset: 0 auto 0 0;
    content: "";
    display: inline-block;
    width: 2px;
    border-radius: 1px;
    background: linear-gradient(89.89deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.service-item__desc {
    width: 244px;
    margin: 18px 0 24px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
    color: var(--desc-color);
}

.service-item__more {
    display: inline-flex;
    align-items: center;
    font-family: Sora, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    color: #34396a;
    transition: color 0.3s;
}

.service-item__more:hover {
    color: var(--btn-color);
}

.service-item__more::after {
    content: url(../icons/arrow-up-right.svg);
    margin: 1px 0 0 6px;
}

.service__img-wrap {
    position: relative;
    width: 447px;
    margin-top: 18px;
}

.service__img-wrap::after {
    position: absolute;
    inset: auto 16px 0;
    content: "";
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__img {
    position: relative;
    display: block;
    z-index: 1;
    width: 100%;
    z-index: 1;
    object-fit: cover;
}

.service__cta-wrap {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.service__cta {
    min-width: 214px;
    transition: 0.3s;
}

.service__cta:hover {
    color: #fff;
    background-color: var(--btn-color);
}

/* =============================== Staff =============================== */
.staff {
    margin-top: 100px;
    padding: 30px 0;
}

.staff__top {
    text-align: center;
}

.staff__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    margin-top: 45px;
}

.staff-item {
    text-align: center;
    transition: 0.3s;
}

.staff-item:hover {
    cursor: pointer;
    translate: 0 -30px;
    text-shadow: 1px 0 0 currentColor;
}

.staff-item__img-wrap {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}

.staff-item__img-wrap::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 94%;
    border-radius: inherit;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff-item__img-wrap::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: calc(100% + 36px);
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.staff-item:nth-child(1) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-01.svg);
}

.staff-item:nth-child(2) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff-item:nth-child(2) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-02.svg);
}
.staff-item:nth-child(3) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff-item:nth-child(3) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-03.svg);
}

.staff-item:nth-child(4) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff-item:nth-child(4) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-04.svg);
}

.staff-item:nth-child(even) .staff-item__img-wrap::after {
    background-position: 0 16px;
}

.staff-item__img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    border-radius: inherit;
}

.staff-item__title {
    margin-top: 34px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    color: var(--desc-color);
}

.staff-item__name {
    margin-top: 14px;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    color: var(--primary-color);
}

.staff__cta-wrap {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.staff__cta {
    min-width: 193px;
    transition: 0.3s;
}

.staff__cta:hover {
    color: #fff;
    background-color: var(--btn-color);
}

/* =============================== Pricing =============================== */
.pricing {
    margin-top: 100px;
    padding: 86px 0;
    background-color: var(--second-bg-color);
}

.pricing__container {
    width: 994px;
}

.pricing__heading,
.pricing__desc {
    text-align: center;
}

.pricing__desc {
    width: 709px;
    margin-left: auto;
    margin-right: auto;
}

.pricing__switch-wrap {
    display: flex;
    justify-content: center;
    margin-top: 38px;
}

.pricing__switch-inner {
    position: relative;
}

.pricing__switch-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    width: 276px;
    height: 56px;
    border: 1px solid #ff5b2e99;
    border-radius: 99px;
    user-select: none;
    cursor: pointer;
}

.pricing__switch-label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 140px;
    height: 100%;
    border-radius: inherit;
    background-color: var(--btn-color);
}

.pricing__switch-value {
    position: relative;
    z-index: 1;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    color: #fff;
}

.pricing__switch-input:checked + .pricing__switch-label::before {
    width: 131px;
    left: auto;
    right: 0;
}

.pricing__switch-input:not(:checked) + .pricing__switch-label .pricing__switch-value:nth-of-type(2),
.pricing__switch-input:checked + .pricing__switch-label .pricing__switch-value:nth-of-type(1) {
    color: var(--btn-color);
}

.pricing__sale-off {
    position: absolute;
    top: -10px;
    right: -112px;
}

/* Pricing body */
.pricing__list {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
}

.pricing-item {
    width: 302px;
    border-radius: 20px;
    padding: 30px 28px;
    background-color: #fff;
}

.pricing-item--active {
    box-shadow: 0px 20px 44px 0px #C36C160F;
}

.pricing-item__type {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    color: var(--btn-color);
}

.pricing-item__heading {
    margin-top: 8px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    color: #3F4065;
}

.pricing-item__price {
    margin-top: 24px;
    font-family: Sora, sans-serif;
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 1.03;
    color: var(--primary-color);
}

.pricing-item__btn {
    --height: 44px;

    margin-top: 22px;
    width: 100%;
    transition: .3s;
    border: 1px solid #FF5B2E99;
}

.pricing-item__list {
    margin-top: 24px;
}

.pricing-item__item {
    display: flex;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    color: var(--desc-color);
}

.pricing-item__item::before {
    content: url(../icons/pricing-check.svg);
    margin-right: 14px;
}

.pricing-item__item + .pricing-item__item {
    margin-top: 18px;
}

/* =============================== Review =============================== */
.review {
    padding: 104px 0 52px;
}

.review__inner {
    display: flex;
    align-items: center;
    column-gap: 44px;
}

.review__control {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 54px;
    height: 54px;
    border: 1.5px solid #FFD1C4;
    border-radius: 50%;
    color: var(--btn-color);
    background-color: transparent;    
    transition: .3s;
}

.review__control:nth-of-type(2) {
    margin-left: auto;
}

.review__control:hover {
    cursor: pointer;
    border-color: var(--btn-color);
    color: #fff;
    background-color: var(--btn-color);
    box-shadow: 0px 5px 27px 0px #FF5B2E4D;
}

.review__list {
    display: flex;
}

.review-item {
    display: flex;
    align-items: center;
    column-gap: 115px;
    width: 100%;
    flex-shrink: 0;
}

.review-item__media {
    position: relative;
    flex-shrink: 0;
    margin-top: -52px;
    width: 274px;
    border-radius: 137px;
}

.review-item__media::after {
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    height: 82%;
    border-radius: inherit;
    background-color: #FFDA54;
}

.review__content {
    overflow: hidden;
}

.review-item__content {
    margin-top: 28px;
}

.review-item__img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.review-item__quote {
    margin-top: 24px;
    width: 553px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.55;
    color: #000;
}

.review-item__author {
    display: flex;
    align-items: center;
    margin-top: 34px;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    color: #282828;
}

.review-item__author::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 2px;
    margin-right: 8px;
    border-radius: 1px;
    background-color: #000;
}

.review__dots {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.review__dot {
    width: 8px;
    height: 8px;
    border: 1px solid #FF5B2E;
    border-radius: 4px;
    transition: .3s;
}

.review__dot:hover {
    cursor: pointer;
    background-color: var(--btn-color);
}

.review__dot--active {
    width: 24px;
    background-color: var(--btn-color);
}

